# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# Pytest/Coverage
.cache/
.cache
.pytest_cache/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
pyvenv.cfg