altair==4.2.2
annotated-types==0.7.0
asgiref==3.7.2
asttokens==2.4.1
attrs==24.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
blis==0.7.11
catalogue==2.0.10
certifi==2023.7.22
cffi==1.17.1
charset-normalizer==2.0.12
click==8.1.7
cloudpathlib==0.18.1
colorama==0.4.6
confection==0.1.5
contourpy==1.3.0
cryptography==43.0.3
cssselect==1.2.0
cycler==0.12.1
cymem==2.0.8
decorator==5.1.1
distlib==0.3.8
Django==4.1.9
django-cors-headers==4.3.0
djangorestframework==3.14.0
djongo==1.3.6
dnspython==1.16.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
entrypoints==0.4
exceptiongroup==1.1.3
executing==2.0.1
filelock==3.13.1
fonttools==4.55.0
goose3==3.1.19
great-expectations==1.2.2
idna==3.4
importlib-resources==6.4.5
ipython==8.17.2
jedi==0.19.1
jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
langcodes==3.4.0
langdetect==1.0.9
language-data==1.2.0
lxml==5.3.0
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.1
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
monotonic==1.6
murmurhash==1.0.10
nltk==3.9.1
numpy==1.26.1
packaging==23.2
pandas==2.1.2
parso==0.8.3
pillow==10.4.0
platformdirs==4.2.0
plotly==5.18.0
posthog==2.5.0
preshed==3.0.9
prompt-toolkit==3.0.39
pure-eval==0.2.2
pyahocorasick==2.1.0
pycparser==2.22
pydantic==2.8.2
pydantic-core==2.20.1
Pygments==2.16.1
pymongo==3.9.0
pyparsing==3.2.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
referencing==0.35.1
regex==2024.9.11
requests==2.27.1
rich==13.7.1
rpds-py==0.21.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
soupsieve==2.5
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.2.4
srsly==2.4.8
stack-data==0.6.3
tenacity==8.2.3
thinc==8.2.5
threadpoolctl==3.5.0
toolz==1.0.0
tqdm==4.64.1
traitlets==5.13.0
typer==0.12.4
typing-extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
ucimlrepo==0.0.7
urllib3==1.26.18
virtualenv==20.25.1
wasabi==1.1.3
wcwidth==0.2.9
weasel==0.4.1
wrapt==1.16.0
zipp==3.21.0
